# GITIGNORE

# General
*.pyc
*.pyo
*~
.DS_Store
.idea
.ipynb_checkpoints
.sass-cache
__pycache__

# Distribution / packaging
*.egg-info/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
docs/_build/

# Data output directories
*/Experiment/
Experiment/
*/Protein_preparation/
Protein_preparation/
# */*_test/
# structures/
# structures*/
# */notebooks/*.png